doctype html
html(lang='en')
    include ../blocks/head.pug
    body
        include ../blocks/header.pug
        .contacts
            .contact
                | mail -
                |
                a(href='mailto:awakair@yandex.ru') awakair@yandex.ru
            .contact
                | tg -
                |
                a(href='https://t.me/awakair') awakair
            .contact
                | gh -
                |
                a(href='https://github.com/awakair') awakair
            .contact
                | linkedin -
                |
                a(href='https://www.linkedin.com/in/awakair/') awakair
            .contact
                | discord (most likely I will not answer here) -
                |
                a(href='https://discord.com/users/awakair') awakair
            .contact
                | current location - Saint-Petersburg