doctype html
html(lang='en')
    include ../blocks/head.pug
    body
        - const path = 'cv'
        include ../blocks/header.pug
        a.cv(href='../assets/cv.pdf')
            i I know I should change it...
