doctype html
html(lang='en')
    include ../blocks/head.pug
    body
        - const path = '~'
        include ../blocks/header.pug
        p
        | Hi! My name is Dmitry,
        | I'm a 2nd year student of software engineering (is) at <a href='https://en.itmo.ru'>itmo</a> (M3202).
        p
        | I'm mainly a backend developer writing in golang (with a little frontend experience).
        | I enjoy distributed systems and all things related to them: microservices, consensus algorithms, blockchain and other.
        | Currently I work at <a href='https://yandex.ru'>yandex</a>.
        p
        | I'm interested in learning new things and like to constantly learn and understand how complex things work.
        | At the moment I'm studying blockchain technology && typescript language && some frontend development stuff.
        h3 skills && interests
        ul
            li programming languages: golang, c++20, python3, typescript
            li tech skills: linux, docker, k8s, grpc, cmake
            li languages: russian (native), english (B2)
            li interests: fullstack development, microservices, hackathons, blockchain
        h3 working experience
        ul
            li backend golang developer at <a href='https://yandex.ru'>yandex</a> (06.2024 - nowadays)
        h3 pet projects
        ul
            li
                .pet
                    div simple multithreading job scheduler based on DAG (<a href='https://gitflic.ru/project/awakair/job-scheduler'>source</a>)
                    .used_skills c++20, cmake, gtest
            li
                .pet
                    div c++ wrapper to represent any container as n-d array (<a href='https://github.com/awakair/array-view'>source</a>)
                    .used_skills c++20, cmake, gtest
            li
                .pet
                    div <a href='https://t.me/awakair_bot'>tg bot</a> with inline predictions (<a href='https://github.com/awakair/awakair_tg_bot'>source</a>)
                    .used_skills python3, airogram, docker{-compose}
            li
                .pet
                    div extension for vscode to paste code to pastebin (<a href='https://github.com/awakair/pastebin-vscode-extension'>source</a>)
                    .used_skills typescript, vscode api
            li
                .pet
                    div extension for vscode which warns you when you need to take a break (<a href='https://github.com/awakair/timetobreak'>source</a>)
                    .used_skills typescript, vscode api
            li
                .pet
                    div tg bot guide to the Ivanovo region (<a href='https://github.com/awakair/ivanovogidbot'>source</a>)
                    .used_skills python3, pyrogram, sqlite
            li
                .pet
                    div c++ stl-like binary search tree (<a href='https://gitflic.ru/project/awakair/binary-search-tree-stl-container'>source</a>)
                    .used_skills c++20, cmake, gtest
